.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  background-image: linear-gradient(
    to bottom,
    rgba(240, 240, 250, 0.2),
    rgba(230, 240, 250, 0.3)
  );
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
  font-size: rem(36px);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    font-size: rem(28px);
    text-align: left;
  }
}

.description {
  text-align: center;
  font-size: rem(18px);
  margin-bottom: rem(30px);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    text-align: left;
  }
}

.featureCard {
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--mantine-shadow-lg);
  }
}

.featureIcon {
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-6),
    var(--mantine-color-cyan-6)
  );
  color: white;
  margin-bottom: rem(10);
}
