.sectionWrapper {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.title {
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;
    font-size: rem(34px);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(28px);
        text-align: left;
    }
}

.description {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    color: var(--mantine-color-dimmed);
    
    @media (max-width: $mantine-breakpoint-sm) {
        text-align: left;
        max-width: 100%;
    }
}

.feature {
    padding: rem(15px);
    border-radius: rem(10px);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
        box-shadow: var(--mantine-shadow-sm);
        transform: translateY(-4px);
    }
}

.featureIcon {
    margin-bottom: var(--mantine-spacing-md);
}

.featureTitle {
    font-weight: 600;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}