:root {
  --background: #0f0f1e;
  --foreground: #ffffff;
  --section-bg-primary-light: #ffffff;
  --section-bg-alt-light: #f8f9fa;
  --section-bg-primary-dark: #101113;
  --section-bg-alt-dark: #1a1b1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f1e;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}
