.footer {
    margin-top: 0;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-sm));
    background: var(--section-bg-primary-light);
    border-top: rem(1px) solid rgba(255, 255, 255, 0.1);
}

[data-mantine-color-scheme='dark'] .footer {
    background: var(--section-bg-primary-dark);
}

.logo {
    max-width: rem(200px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: var(--mantine-breakpoint-sm)) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.description {
    margin-top: rem(5px);
    text-align: center;

    @media (max-width: var(--mantine-breakpoint-sm)) {
        margin-top: var(--mantine-spacing-xs);
        text-align: center;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: var(--mantine-breakpoint-sm)) {
        flex-direction: column;
        align-items: center;
    }
}
    


.groups {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: var(--mantine-breakpoint-sm)) {
        display: none;
    }
}

.wrapper {
    width: rem(160px);
}

.link {
    display: block;
    color: #a0a0a0;
    font-size: var(--mantine-font-size-sm);
    padding-top: rem(3px);
    padding-bottom: rem(3px);
    text-decoration: none;

    &:hover {
        color: #ffffff;
        text-decoration: underline;
    }
}

.title {
    font-size: var(--mantine-font-size-lg);
    font-weight: 700;
    font-family: Inter, var(--mantine-font-family);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    color: #ffffff;
}

.afterFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-sm);
    border-top: rem(1px) solid rgba(255, 255, 255, 0.1);

    @media (max-width: var(--mantine-breakpoint-sm)) {
        flex-direction: column;
    }
}

.social {
    @media (max-width: var(--mantine-breakpoint-sm)) {
        margin-top: var(--mantine-spacing-xs);
    }
}